<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/icon/64.png">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Footprint</title>
  </head>
  <body>
    <div id="app" class="container-fluid">


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">🐾 Footprint 🐾</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto">
            <!--
            <li class="nav-item active">
              <a class="nav-link" href="#">ホーム <span class="sr-only">(現位置)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">リンク</a>
            </li>
            -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" data-toggle="modal" data-target="#new-tag-modal">New tag</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#remove-tags-modal">Remove tags</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">その他</a> -->
              </div>
            </li>
          </ul>
          <!--
          <form class="form-inline my-2 my-lg-0">
            <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索...">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
          </form>
          -->
        </div>
      </nav>

      <div class="row">
        <div class="col-xs-12 col-sm-12">

          <ul class="nav nav-tabs">
            <li class="nav-item"
                v-for="(tag, index) in tags">
              <a class="nav-link"
                 data-toggle="tab"
                 :class="{active: index == 0}"
                 :href="id('#tab', index) ">
                {{ tag.name }}
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div v-for="(tag, tagIndex) in tags"
                 class="tab-pane"
                 :id="id('tab', tagIndex)"
                 :class="{active: tagIndex == 0}">
              <div v-for="(target, index) in targets"
                   v-if="tag.isIn(target.tags)">
                <div class="card">
                  <span class="card-header"
                        data-toggle="collapse"
                        role="button"
                        aria-expanded="false"
                        :href="id('#target',tagIndex, index)"
                        :aria-controls="id('target', tagIndex, index)">
                    {{ target.title }}
                  </span>
                  <div class="collapse card-body"
                       :data-parent="id('#tab', tagIndex)"
                       :id="id('target', tagIndex, index)">
                    <div class="row">
                      <div class="col-md-11">
                        <ul reversed class="list-group">
                          <li class="list-group-item"
                              v-for="(page, pageIndex) in target.pages.slice().reverse()">
                            <a :href="page.url">{{ target.pages.length - pageIndex }}. {{ page.title }}</a>
                            <button type="button"
                                    class="close"
                                    aria-label="Remove thie page"
                                    v-on:click="removePage(target, page, target.pages.length - pageIndex - 1)"
                                    v-if="target.pages.length > 1">
                              　<span aria-hidden="true">&times;</span>
                            </button>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-1">
                        <button href="#"
                                class="btn btn-sm btn-danger"
                                v-on:click="removeTarget(target, index)">Unbookmark</button>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-12">
                        <div class="custom-control custom-checkbox custom-control-inline"
                             v-for="(tag, tagIndex) in tags"
                             v-if="tag.real">
                          <input type="checkbox"
                                 class="custom-control-input tag-check"
                                 v-model="target.tags"
                                 :id="id('tag', index, tagIndex)"
                                 :value="tag.name"
                                 v-on:click="$set(target, 'tagsUpdated', true)">
                          <label class="custom-control-label" :for="id('tag', index, tagIndex)">{{ tag.name }}</label>
                        </div>
                        <button type="button"
                                class="btn btn-secondary"
                                :class="id('update-tag-button', index)"
                                :disabled="!target.tagsUpdated"
                                v-on:click="updateTags(target)">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="modal fade" id="new-tag-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New tag</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="new-tag-name"
                     type="text"
                     class="form-control"
                     placeholder="Tag name"
                     v-model.lazy.trim="newTagName">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button"
                      class="btn btn-primary"
                      data-dismiss="modal"
                      @click="addNewTag">Add</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="remove-tags-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New tag</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label>Remove tags from all bookmarks</label>
              <div class="form-group">
                <select multiple class="form-control" v-model="tagNameToRemove">
                  <option v-for="tag in realTags">{{ tag }}</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button"
                      class="btn btn-primary"
                      data-dismiss="modal"
                      @click="removeTags">Remove</button>
            </div>
          </div>
        </div>
      </div>


    </div>
    <script src="/js/main_view.js"></script>
  </body>
</html>

