<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/icon/64.png">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Footprint</title>
  </head>

  <body>

    <div id="app" class="container-fluid">

      <h1 class="text-center">🐾 Footprint 🐾</h1>

      <div class="row">

        <div class="col-xl-10 col-xs-11">

          <ul class="nav nav-tabs">
            <li class="nav-item"
                v-for="(tag, index) in tags">
              <a class="nav-link"
                 data-toggle="tab"
                 :class="{active: index == 0}"
                 :href="id('#tab', index) ">
                {{ tag.name }}
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div v-for="(tag, tagIndex) in tags"
                 class="tab-pane"
                 :id="id('tab', tagIndex)"
                 :class="{active: tagIndex == 0}">
              <div v-for="(target, index) in targets"
                   v-if="tag.isIn(target.tags)">
                <div class="card">
                  <span class="card-header"
                        data-toggle="collapse"
                        role="button"
                        aria-expanded="false"
                        :href="id('#target',tagIndex, index)"
                        :aria-controls="id('target', tagIndex, index)">
                    {{ target.title }}
                  </span>
                  <div class="collapse card-body"
                       :data-parent="id('#tab', tagIndex)"
                       :id="id('target', tagIndex, index)">
                    <div class="row">
                      <div class="col-md-11">
                        <ul reversed class="list-group">
                          <li class="list-group-item"
                              v-for="(page, pageIndex) in target.pages.slice().reverse()">
                            <a :href="page.url">{{ target.pages.length - pageIndex }}. {{ page.title }}</a>
                            <button type="button"
                                    class="close"
                                    aria-label="Remove thie page"
                                    v-on:click="removePage(target, page, target.pages.length - pageIndex - 1)"
                                    v-if="target.pages.length > 1">
                              　<span aria-hidden="true">&times;</span>
                            </button>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-1">
                        <button href="#"
                                class="btn btn-sm btn-danger"
                                v-on:click="removeTarget(target, index)">Unbookmark</button>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-12">
                        <div class="custom-control custom-checkbox custom-control-inline"
                             v-for="(tag, tagIndex) in tags"
                             v-if="tag.real">
                          <input type="checkbox"
                                 class="custom-control-input tag-check"
                                 v-model="target.tags"
                                 :id="id('tag', index, tagIndex)"
                                 :value="tag.name"
                                 v-on:click="$set(target, 'tagsUpdated', true)">
                          <label class="custom-control-label" :for="id('tag', index, tagIndex)">{{ tag.name }}</label>
                        </div>
                        <button type="button"
                                class="btn btn-secondary"
                                :class="id('update-tag-button', index)"
                                :disabled="!target.tagsUpdated"
                                v-on:click="updateTags(target)">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-2 col-xs-1">
          <input id="new-tag-name" type="text" class="form-control" placeholder="New tag name">
          <button type="button" id="new-tag-button" class="btn btn-secondary btn-block">Add new tag</button>
        </div>

      </div>
    </div>

    <script src="/js/main_view.js"></script>
  </body>

</html>

